.pikachu { 
  background-position: center;
	background-size: cover;
  background-image: url("pikachu.jpg");
}
	
.snorlax { 
  background-position: center;
  background-size: cover;
	background-image: url("snorlax.jpg");
}

.lapras { 
  background-position: center;
  background-size: cover;
	background-image: url("lapras.jpg");
}

.charizard {
  background-position: center;
  background-size: cover; 
	background-image: url("charizard.jpg");
}

.bulbasaur {
  background-position: center;
  background-size: cover; 
	background-image: url("bulbasaur.jpg");
}

.squirtle {
  background-position: center;
  background-size: cover;
  background-image: url("squirtle.jpg");
  
}

div[flipped="false"] {  
  background-position: center;
  background-size: cover;
  background-image: url("pokemonback.jpg");
  transform: rotateY(180deg);
  transition: transform .5s ease-in-out;
  
}

#game div {
    box-shadow: 0 19px 38px rgba(0,0,0,.5);
    border: 2px solid none;
    border-radius: 15px;
    width: 230px;
    height: 320px;
    margin: 40px;
    display: inline-block;
    transition: transform .5s ease-in-out;
}

html {
  background-position: center;
  background-size: cover;
  background-image: url("whosthat.png");
}

h1 {
  font-family: Silkscreen;
  text-align: center;
  font-size: 40px;
}